@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/Inter-Variable.ttf);
}

:root{
--cor0: #e4ecff;
--cor1: #ccdaff;
--cor2: #5d79c0;
--cor3: #3a61c2;
--cor4: #294999;
--cor5: #101f46;    

--fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
--fonte-destaque: 'Bebas Neue', cursive;
--fonte-android: 'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.479);
}
nav > a{
    color: var(--cor1);
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}
nav > a > img{
    padding: 0px;
    margin: 0px;
    border: 2px;
    width: 30px;
}
nav >a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}


body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: '\00A0\1F517';
}


header{
    /*background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));*/
    background-image: url('../imagens/header.jpg');
    background-size: contain;
    min-height: 120px;
    text-align: center;
    padding-top: 40px;
}
header > h1{    
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.384);
}
header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 20px;
}


main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;    
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
}
main h1{
    font-weight: normal;
    color: var(--cor5);
    font-family: var(--fonte-android);    
    font-size: 1.8;
}
main h2{
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;

}
main p{        
    margin: 10px 0px;
    text-align: left;    
    text-indent: 20px;
    font-size: 1em;
    line-height: 1.5em;
    color: var(--cor4);
    font-family: var(--fonte-padrao);
}
main p:hover{
    font-weight: bold;
}



div.quadrado{
    display: inline-block;
    border: 1px solid #101f4662;
    border-radius: 4px;
    background-color: var(--cor3);
    width: 100px;
    height: 50px;
    margin: 20px 5px;
}
div.quadrado:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    width: 101px;
    height: 51px;
}


div#q1{
    background-image: url('../imagens/sempapel.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
div#q2{
    background-image: url('---');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
div#q3{
    background-image: url('../imagens/sisdrhu.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
div#q4{
    background-image: url('../imagens/zimbra.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
div#q5{
    background-image: url('../imagens/spdoc.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}



footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    padding: 0px;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

